<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="SrollTimerInterval" value="1"/>
    <add key="TwitterRefreshInterval" value="2"/>
    <add key="TwitterSearchTerm" value="HubCityNug"/>
    <add key="LogoImagesPath" value="C:\Github\User-Group-App\Logos"/>
    <add key="SwagFilePath" value="C:\Github\User-Group-App\Swag\swag.xml"/>
  </appSettings>
</configuration>
